<div class="nav-setting">
    <div class="ui buttons">
      <div class="ui floating dropdown button">
        <i class="icon bars"></i>
        <div class="menu">
          <% if (user) { %>
            <a class="item" href="/posts?author=<%= user._id %>">My Posts</a>
            <div class="divider"></div>
            <a class="item" href="/posts/create">Post a Blog</a>
            <a class="item" href="/signout">LogOut</a>
          <% } else { %>
            <a class="item" href="/signin">Login</a>
            <a class="item" href="/signup">SignUp</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>